@page
@model VentaIndex
@{
    Layout = "_Layout";
    ViewData["Title"] = "Venta";
}
<h2>Venta al Cliente</h2>
<button type="button" class="btn btn-info" onclick='RealizarVenta()'>Realizar Venta</button>
<table class="table">
    <thead>
        <tr>
            <th>Acciones</th>
            @foreach (System.Data.DataColumn column in Model.ResultTable.Columns)
            {
                <th>@column.ColumnName</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (System.Data.DataRow row in Model.ResultTable.Rows)
        {
            <tr>
                <td >
                    @if (row["ind_devuelto"].ToString() == "N" && row["aplica_devolucion"].ToString() == "Aplica")
                    {
                        <button type="button" class="btn btn-info" onclick='MostrarModalDevolucion("@row["ID_Venta"]")'>Devolver</button>
                    }
                    else if (row["ind_devuelto"].ToString() == "S" || row["aplica_devolucion"].ToString() == "No Aplica")
                    {
                        <button type="button" class="btn btn-danger" disabled>Ya Devuelto</button>
                        
                        
                    }
                </td>
                @foreach (var item in row.ItemArray)
                {
                    <td style="@(item.ToString() == "Aplica" ? "color:green;" : item.ToString() == "No Aplica" ? "color:red;" : "")">
                        @item
                    </td>
                }
            </tr>
        }
        @if (Model.ResultTable.Rows.Count == 0)
        {
            <tr>
                <td colspan="@Model.ResultTable.Columns.Count+1">No hay datos disponibles</td>
            </tr>
        }
    </tbody>
</table>
<br/>
<br/>
<h2>Devoluciones</h2>

<table class="table">
    <thead>
        <tr>
            
            @foreach (System.Data.DataColumn column in Model.ResultTableDevoluciones.Columns)
            {
                <th>@column.ColumnName</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (System.Data.DataRow row in Model.ResultTableDevoluciones.Rows)
        {
            <tr>
                
                @foreach (var item in row.ItemArray)
                {
                    <td>@item</td>
                }
            </tr>
        }
        @if (Model.ResultTableDevoluciones.Rows.Count == 0)
        {
            <tr>
                <td colspan="@Model.ResultTableDevoluciones.Columns.Count+1">No hay datos disponibles</td>
            </tr>
        }
    </tbody>
</table>

<!-- Modal para Devolución de Producto -->
<div class="modal fade" id="devolucionModal" tabindex="-1" aria-labelledby="devolucionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="devolucionModalLabel">Devolución de Producto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="devolucionForm">
                    <input type="hidden" id="ventaId" name="ventaId">
                    <div class="mb-3">
                        <label for="motivo" class="form-label">Motivo de la Devolución</label>
                        <input type="text" class="form-control" id="motivo" name="motivo" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Devolver Producto</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ventaModal" tabindex="-1" aria-labelledby="ventaModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ventaModalLabel">Realizar Venta</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="ventaForm">
                    <div class="mb-3">
                        <label for="idProducto" class="form-label">Producto</label>
                        <select class="form-select" id="idProducto" name="idProducto" required>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="idSucursal" class="form-label">Sucursal</label>
                        <select class="form-select" id="idSucursal" name="idSucursal" required>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="idCliente" class="form-label">Cliente</label>
                        <select class="form-select" id="idCliente" name="idCliente" required>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="idTrabajador" class="form-label">Trabajador</label>
                        <select class="form-select" id="idTrabajador" name="idTrabajador" required>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="cantidad" class="form-label">Cantidad</label>
                        <input type="number" class="form-control" id="cantidad" name="cantidad" min="1" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Realizar Venta</button>
                </form>
            </div>
        </div>
    </div>
</div>




@section Scripts{
    <script>
        function MostrarModalDevolucion(idVenta) {
            document.getElementById('ventaId').value = idVenta;

            var devolucionModal = new bootstrap.Modal(document.getElementById('devolucionModal'));
            devolucionModal.show();
        }

        function RealizarVenta() {
            var ventaModal = new bootstrap.Modal(document.getElementById('ventaModal'));
            ventaModal.show();

            cargarDatosModal();
        }

        function cargarDatosModal() 
        {
            // Cargar productos
            $.ajax({
                url: '@Url.Page("VentaIndex")?handler=Productos',
                method: 'GET',
                success: function(response) {
                    if (response.success) {
                        var productosHtml = response.map(function(producto) {
                            return '<option value="' + producto.ID_Producto + '">' + producto.Nombre + '</option>';
                        }).join('');
                        $('#idProducto').html(productosHtml);
                    } else {
                        Swal.fire('Error', 'Error al cargar los productos.', 'error');
                    }
                },
                error: function(xhr, status, error) {
                    Swal.fire('Error', 'Error al cargar los productos.', 'error');
                }
            });

            // Cargar sucursales
            $.ajax({
                url: '@Url.Page("VentaIndex")?handler=Sucursales',
                method: 'GET',
                success: function(response) {
                    if (response.success) {
                        var sucursalesHtml = response.map(function(sucursal) {
                            return '<option value="' + sucursal.ID_Sucursal + '">' + sucursal.Nombre + '</option>';
                        }).join('');
                        $('#idSucursal').html(sucursalesHtml);
                    } else {
                        Swal.fire('Error', 'Error al cargar las sucursales.', 'error');
                    }
                },
                error: function(xhr, status, error) {
                    Swal.fire('Error', 'Error al cargar las sucursales.', 'error');
                }
            });

            // Cargar clientes
            $.ajax({
                url: '@Url.Page("VentaIndex")?handler=Clientes',
                method: 'GET',
                success: function(response) {
                    if (response.success) {
                        var clientesHtml = response.map(function(cliente) {
                            return '<option value="' + cliente.ID_Cliente + '">' + cliente.Nombre + '</option>';
                        }).join('');
                        $('#idCliente').html(clientesHtml);
                    } else {
                        Swal.fire('Error', 'Error al cargar los clientes.', 'error');
                    }
                },
                error: function(xhr, status, error) {
                    Swal.fire('Error', 'Error al cargar los clientes.', 'error');
                }
            });

            // Cargar trabajadores
            $.ajax({
                url: '@Url.Page("VentaIndex")?handler=Trabajadores',
                method: 'GET',
                success: function(response) {
                    if (response.success) {
                        var trabajadoresHtml = response.map(function(trabajador) {
                            return '<option value="' + trabajador.ID_Trabajador + '">' + trabajador.Nombre + '</option>';
                        }).join('');
                        $('#idTrabajador').html(trabajadoresHtml);
                    } else {
                        Swal.fire('Error', 'Error al cargar los trabajadores.', 'error');
                    }
                },
                error: function(xhr, status, error) {
                    Swal.fire('Error', 'Error al cargar los trabajadores.', 'error');
                }
            });
        }

        $(document).ready(function() {
            $('#devolucionForm').submit(function(event) {
                event.preventDefault(); 
                var formData = $(this).serialize(); 
                $.ajax({
                    url: '@Url.Page("VentaIndex")?handler=DevolverProducto',
                    method: 'POST',
                    data: formData,
                    success: function(response) {
                        if (response.success) {
                            Swal.fire('Éxito', response.message, 'success').then(() => {
                                location.reload(); 
                            });
                        } else {
                            Swal.fire('Error', response.message, 'error');
                        }
                    },
                    error: function(xhr, status, error) {
                        Swal.fire('Error', 'Error al procesar la devolución del producto.', 'error');
                    }
                });
            });

            $('#ventaModal').on('show.bs.modal', function (e) {
                cargarDatosModal();
            });

            // Manejar el envío del formulario de venta
            $('#ventaForm').submit(function(event) {
                event.preventDefault();

                var formData = $(this).serialize();

                $.ajax({
                    url: '@Url.Page("VentaIndex")?handler=RealizarVenta',
                    method: 'POST',
                    data: formData,
                    success: function(response) {
                        if (response.success) {
                            Swal.fire('Éxito', response.message, 'success').then(() => {
                                location.reload();
                            });
                        } else {
                            Swal.fire('Error', response.message, 'error');
                        }
                    },
                    error: function(xhr, status, error) {
                        Swal.fire('Error', 'Error al realizar la venta.', 'error');
                    }
                });
            });
        });
    </script>
}